.clockpage
{
  margin: auto;
  max-width: 500px;
  min-width: 100px;
  background: white;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
}

.link{
  margin: auto;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
}

#dayOfWeek
{
  display: block;
  font-weight: normal;
  font-size: 18px;
}

